.container {
    
  .content-registrations {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #FFF;
    border-radius: 5px;
    border-top: 5px solid #0d6efd;

    .content-search{
      width: 100%;
      height: 65px;

      .radio {
        margin: 15px
      }
      input[type="radio"] {
        margin-left: 20px;
      }
    }

    .tag {
      background-color: aqua;
    }
    .search {
      height: 35px;
      margin: 15px;
      padding: 0 20px;
      float: right;
    }

    .icon {
      margin-left: 10px;
      border-style: none;
    }

    .paginate {
      margin-top: 20px;
    }
    
    tr {
      border-bottom: 1px solid #868585;
    }

    table {
      table-layout: auto;
      border-collapse: collapse;
      overflow-x: auto;
      white-space: nowrap;
      table-layout: fixed;
    }

    table tr:nth-child(odd) {
      background-color: #eee;
    }

    table tr:nth-child(odd) td:nth-child(1) {
      background-color: #eee;
    }

    table tr:nth-child(even) td:nth-child(1) {
      background-color: white;
    }

    table tr:nth-child(odd) td:nth-child(2) {
      background-color: #eee;
    }

    table tr:nth-child(even) td:nth-child(2) {
      background-color: white;
    }

    table tr:nth-child(odd) td:nth-last-child(n) {
      background-color: #eee;
    }

    table tr:nth-child(even) td:nth-last-child(n) {
      background-color: white;
    }

    table thead {
      background-color: #eee;
    }
    thead th:nth-of-type(1) {
      position: sticky;
      background-color: #eee;
    }
    thead th:nth-of-type(2) {
      position: sticky;
      background-color: #eee;
    }

    thead th:nth-last-of-type(n) {
      // position: sticky;
      background-color: #eee;
    }

    th {
      padding: 4px;
      text-align: left;
      padding-top: 6px;
      padding-bottom: 6px;
      color: black;
      overflow: hidden;
      table-layout: fixed;
    }

    td {
      padding: 4px;
      word-wrap: break-word;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    button {
      padding: 3px 5px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      font-size: 15px;
      font-style: italic;
    }
    button:hover:enabled {
      background-color: #fff8f7 !important;
      color: #ea9293 !important;
      cursor: pointer;
    }
  }
}
.aaa {
height: 60px;
}